<div class="page-content" fxLayout="row wrap">
    <!-- <div class="page-title">Mlekara</div> -->
    <div class="page-actions">
        <div>
            <button class="addButton" mat-raised-button (click)="add()">
                Dodaj Mlekaru
            </button>
        </div>
    </div>
</div>

<div class="page-content is-page-content" fxLayout="row wrap">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="SifraMlekare">
            <th mat-header-cell *matHeaderCellDef> SifraMlekare </th>
            <td id="contact-cell" mat-cell *matCellDef="let element"> {{element.sifraMlekare}} </td>
        </ng-container>

        <ng-container matColumnDef="Pib">
            <th mat-header-cell *matHeaderCellDef> Pib </th>
            <td mat-cell *matCellDef="let element"> {{element.pib}} </td>
        </ng-container>

        <ng-container matColumnDef="NazivMlekare">
            <th mat-header-cell *matHeaderCellDef> NazivMlekare </th>
            <td mat-cell *matCellDef="let element"> {{element.nazivMlekare}} </td>
        </ng-container>

        <ng-container matColumnDef="MaticniBroj">
            <th mat-header-cell *matHeaderCellDef> MaticniBroj </th>
            <td mat-cell *matCellDef="let element"> {{element.maticniBroj}} </td>
        </ng-container>

        <ng-container matColumnDef="PttMesta">
            <th mat-header-cell *matHeaderCellDef> PttMesta </th>
            <td mat-cell *matCellDef="let element"> {{element.pttMesta}} </td>
        </ng-container>

        <ng-container matColumnDef="Actoins">
            <th class="actions`" mat-header-cell *matHeaderCellDef></th>
            <td class="form-filed" mat-cell *matCellDef="let element; let i = index"> 
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Izmeni</button>
                    <button mat-menu-item>Obrisi</button>
                  </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>