<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
    <div>
      <button class="manuButton" routerLink="/mlekara" mat-raised-button>
        Mlekara
      </button>
    </div>
    <div>
      <button class="manuButton" routerLink="/obracun" mat-raised-button>
        Obracun
      </button>
    </div>
    <div>
      <button class="manuButton" routerLink="/krava" mat-raised-button>
        Krava
      </button>
    </div>

  </mat-drawer>

  <div class="example-sidenav-content">
    <button class="menu" type="button" mat-button (click)="drawer.toggle()">
      Meni
    </button>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>